[submodule "BeeOnTime-frontend"]
	path = BeeOnTime-frontend
	url = https://github.com/SkyFlyTeam/BeeOnTime-frontend
[submodule "BeeOnTime-backend"]
	path = BeeOnTime-backend
	url = https://github.com/SkyFlyTeam/BeeOnTime-backend
